src/templates/index.jade
doctype html
html
	head
		title 888
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/main.css" type="text/css" rel="stylesheet")
	body
		main.wrapper
			include ./components/_header.jade
			.main
				.main--tabs
					.main--tabs--rating-tabs
						.tabs--item.tabs--item__active 
							span Trending
						.tabs--item 
							span Falling
					.main--tabs--time-tabs
						.clock-icon
							i.fa.fa-clock-o
						.tabs--item.tabs--item__active 
							span 24HRS
						.tabs--item 
							span 48HRS
						.tabs--item 
							span ALL TIME
				.main--blocks
					- for (var i = 0; i < 4; ++i) {
						a(href="#").blocks--item.blocks--item__trending
							.blocks--item--wrapper
								.blocks--item--wrapper--image
									img(src="images/manager-img.jpg")
									i.fa.fa-plus-circle
								.blocks--item--wrapper--details
									.item--id
										span= i+1
									.item--club
										img(src="images/club-img.png")
								figcaption.blocks--item--wrapper--caption
									.item--title
										h1 Pochettino
										h2 Tottenham
									.item--tweets
										span Tweets
										.item--tweets--count 469
					- }
					- for (var i = 0; i < 4; ++i) {
						a(href="#").blocks--item.blocks--item__falling
							.blocks--item--wrapper
								.blocks--item--wrapper--image
									img(src="images/manager-img.jpg")
									i.fa.fa-plus-circle
								.blocks--item--wrapper--details
									.item--id
										span= i+1
									.item--club
										img(src="images/club-img.png")
								figcaption.blocks--item--wrapper--caption
									.item--title
										h1 Pochettino
										h2 Tottenham
									.item--tweets
										span Tweets
										.item--tweets--count 469
					- }

				.main--footer
					.main--footer--button
						span View more managers
			.additional-blocks
				- mainPage = true
				include ./components/_tweets.jade
				include ./components/_articles.jade

public/index.html
<!DOCTYPE html><html><head><title>888</title><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link href="css/main.css" type="text/css" rel="stylesheet"></head><body><main class="wrapper"><header class="header"><div class="header--title"><h1 hidden="">888</h1><img src="images/title.png" alt="Title"></div><div class="header--logo"><img src="images/logo.png" alt="Logo"></div><ul class="header--nav"><li class="nav--item nav--item__active"><a href="#">Home</a></li><li class="nav--item"> <a href="#">What is this?</a></li><li class="nav--item nav--item--socials"><a href="#"> <i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a></li></ul></header><div class="main"><div class="main--tabs"><div class="main--tabs--rating-tabs"><div class="tabs--item tabs--item__active"> <span>Trending</span></div><div class="tabs--item"> <span>Falling</span></div></div><div class="main--tabs--time-tabs"><div class="clock-icon"><i class="fa fa-clock-o"></i></div><div class="tabs--item tabs--item__active"> <span>24HRS</span></div><div class="tabs--item"> <span>48HRS</span></div><div class="tabs--item"> <span>ALL TIME</span></div></div></div><div class="main--blocks"><a href="#" class="blocks--item blocks--item__trending"><div class="blocks--item--wrapper"><div class="blocks--item--wrapper--image"><img src="images/manager-img.jpg"><i class="fa fa-plus-circle"></i></div><div class="blocks--item--wrapper--details"><div class="item--id"><span>1</span></div><div class="item--club"><img src="images/club-img.png"></div></div><figcaption class="blocks--item--wrapper--caption"><div class="item--title"><h1>Pochettino</h1><h2>Tottenham</h2></div><div class="item--tweets"><span>Tweets</span><div class="item--tweets--count">469</div></div></figcaption></div></a><a href="#" class="blocks--item blocks--item__trending"><div class="blocks--item--wrapper"><div class="blocks--item--wrapper--image"><img src="images/manager-img.jpg"><i class="fa fa-plus-circle"></i></div><div class="blocks--item--wrapper--details"><div class="item--id"><span>2</span></div><div class="item--club"><img src="images/club-img.png"></div></div><figcaption class="blocks--item--wrapper--caption"><div class="item--title"><h1>Pochettino</h1><h2>Tottenham</h2></div><div class="item--tweets"><span>Tweets</span><div class="item--tweets--count">469</div></div></figcaption></div></a><a href="#" class="blocks--item blocks--item__trending"><div class="blocks--item--wrapper"><div class="blocks--item--wrapper--image"><img src="images/manager-img.jpg"><i class="fa fa-plus-circle"></i></div><div class="blocks--item--wrapper--details"><div class="item--id"><span>3</span></div><div class="item--club"><img src="images/club-img.png"></div></div><figcaption class="blocks--item--wrapper--caption"><div class="item--title"><h1>Pochettino</h1><h2>Tottenham</h2></div><div class="item--tweets"><span>Tweets</span><div class="item--tweets--count">469</div></div></figcaption></div></a><a href="#" class="blocks--item blocks--item__trending"><div class="blocks--item--wrapper"><div class="blocks--item--wrapper--image"><img src="images/manager-img.jpg"><i class="fa fa-plus-circle"></i></div><div class="blocks--item--wrapper--details"><div class="item--id"><span>4</span></div><div class="item--club"><img src="images/club-img.png"></div></div><figcaption class="blocks--item--wrapper--caption"><div class="item--title"><h1>Pochettino</h1><h2>Tottenham</h2></div><div class="item--tweets"><span>Tweets</span><div class="item--tweets--count">469</div></div></figcaption></div></a><a href="#" class="blocks--item blocks--item__falling"><div class="blocks--item--wrapper"><div class="blocks--item--wrapper--image"><img src="images/manager-img.jpg"><i class="fa fa-plus-circle"></i></div><div class="blocks--item--wrapper--details"><div class="item--id"><span>1</span></div><div class="item--club"><img src="images/club-img.png"></div></div><figcaption class="blocks--item--wrapper--caption"><div class="item--title"><h1>Pochettino</h1><h2>Tottenham</h2></div><div class="item--tweets"><span>Tweets</span><div class="item--tweets--count">469</div></div></figcaption></div></a><a href="#" class="blocks--item blocks--item__falling"><div class="blocks--item--wrapper"><div class="blocks--item--wrapper--image"><img src="images/manager-img.jpg"><i class="fa fa-plus-circle"></i></div><div class="blocks--item--wrapper--details"><div class="item--id"><span>2</span></div><div class="item--club"><img src="images/club-img.png"></div></div><figcaption class="blocks--item--wrapper--caption"><div class="item--title"><h1>Pochettino</h1><h2>Tottenham</h2></div><div class="item--tweets"><span>Tweets</span><div class="item--tweets--count">469</div></div></figcaption></div></a><a href="#" class="blocks--item blocks--item__falling"><div class="blocks--item--wrapper"><div class="blocks--item--wrapper--image"><img src="images/manager-img.jpg"><i class="fa fa-plus-circle"></i></div><div class="blocks--item--wrapper--details"><div class="item--id"><span>3</span></div><div class="item--club"><img src="images/club-img.png"></div></div><figcaption class="blocks--item--wrapper--caption"><div class="item--title"><h1>Pochettino</h1><h2>Tottenham</h2></div><div class="item--tweets"><span>Tweets</span><div class="item--tweets--count">469</div></div></figcaption></div></a><a href="#" class="blocks--item blocks--item__falling"><div class="blocks--item--wrapper"><div class="blocks--item--wrapper--image"><img src="images/manager-img.jpg"><i class="fa fa-plus-circle"></i></div><div class="blocks--item--wrapper--details"><div class="item--id"><span>4</span></div><div class="item--club"><img src="images/club-img.png"></div></div><figcaption class="blocks--item--wrapper--caption"><div class="item--title"><h1>Pochettino</h1><h2>Tottenham</h2></div><div class="item--tweets"><span>Tweets</span><div class="item--tweets--count">469</div></div></figcaption></div></a></div><div class="main--footer"><div class="main--footer--button"><span>View more managers</span></div></div></div><div class="additional-blocks"><section class="tweets"><h1 class="tweets--title"> <span>Tweets</span></h1><div class="tweets--blocks"><div class="tweets--blocks--item"><img src="images/tweet-img.jpg" alt="User image" class="item--image"><div class="item--content"><div class="item--content--header"><a href="#" class="item--content--link">Mirror Football</a><div class="item--content--username-date">@mirrorfootball • Feb 18</div></div><p>Donec et justo id risus sagittis rhoncus. Pellentesque rhoncus scelerisque pulvinar. Maecenas pellentesque urna nunc, quis <a href="#">egestas metus aliquet sed</a>…</p><div class="item--content--footer"><i class="fa fa-heart"></i><span>16</span><i class="fa fa-retweet"></i><span>16</span><i class="fa fa-star"></i><span>16</span></div></div></div><div class="tweets--blocks--item"><img src="images/tweet-img.jpg" alt="User image" class="item--image"><div class="item--content"><div class="item--content--header"><a href="#" class="item--content--link">Mirror Football</a><div class="item--content--username-date">@mirrorfootball • Feb 18</div></div><p>Donec et justo id risus sagittis rhoncus. Pellentesque rhoncus scelerisque pulvinar. Maecenas pellentesque urna nunc, quis <a href="#">egestas metus aliquet sed</a>…</p><div class="item--content--footer"><i class="fa fa-heart"></i><span>16</span><i class="fa fa-retweet"></i><span>16</span><i class="fa fa-star"></i><span>16</span></div></div></div><div class="tweets--blocks--item"><img src="images/tweet-img.jpg" alt="User image" class="item--image"><div class="item--content"><div class="item--content--header"><a href="#" class="item--content--link">Mirror Football</a><div class="item--content--username-date">@mirrorfootball • Feb 18</div></div><p>Donec et justo id risus sagittis rhoncus. Pellentesque rhoncus scelerisque pulvinar. Maecenas pellentesque urna nunc, quis <a href="#">egestas metus aliquet sed</a>…</p><div class="item--content--footer"><i class="fa fa-heart"></i><span>16</span><i class="fa fa-retweet"></i><span>16</span><i class="fa fa-star"></i><span>16</span></div></div></div></div><div class="tweets--footer"><div class="tweets--footer--button"><span>More tweets</span></div></div></section><section class="articles"><h1 class="articles--title"> <span>Articles</span></h1><div class="articles--blocks"><article class="articles--blocks--item"><div class="item--image"><img src="images/articles-img.jpg"></div><header class="item--header"> <h1>Van Gaal finds himself in the firing line again</h1><div class="item--separator"></div><div class="item--date">February 18th</div></header><a href="#" class="item--link"><div class="item--link--arrow"></div></a></article><article class="articles--blocks--item"><div class="item--image"><img src="images/articles-img.jpg"></div><header class="item--header"> <h1>Van Gaal finds himself in the firing line again</h1><div class="item--separator"></div><div class="item--date">February 18th</div></header><a href="#" class="item--link"><div class="item--link--arrow"></div></a></article><article class="articles--blocks--item"><div class="item--image"><img src="images/articles-img.jpg"></div><header class="item--header"> <h1>Van Gaal finds himself in the firing line again</h1><div class="item--separator"></div><div class="item--date">February 18th</div></header><a href="#" class="item--link"><div class="item--link--arrow"></div></a></article></div><div class="articles--footer"><div class="articles--footer--button"><span>More articles</span></div></div></section></div></main></body></html>
